GNUmakefile

/COPYING
/INSTALL
/Makefile
/autom4te.cache
/config.cache
/config.log
/config.status
/configure
/install-sh

/build-aux/install-sh

/doc/*.dvi
/doc/*.pdf
/doc/*.ps
/doc/GNUmakefile
/doc/edb.info
/doc/refcard.aux
/doc/refcard.log
/doc/refcard.version.tex
/doc/texinfo.tex
/doc/version.texi

/lisp/GNUmakefile
/lisp/cfg.el
/lisp/edbcore.el
/lisp/*.elc

/tests/Makefile
/tests/ebatch

/skram/GNUmakefile-atvars
/skram/examples-syms.data
/skram/hacksup.el
/skram/sk2*
/skram/sk3*
/skram/sk4*
/skram/skram.data
/skram/skram.report

/examples/null
/examples/passwd

/examples/edbibtex/edbibtex.info
