Source: edb
Section: lisp
Priority: optional
Maintainer: Jari Aalto <jari.aalto@cante.net>
Uploaders: Tatsuya Kinoshita <tats@debian.org>
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: texinfo, emacs23 | emacs22 | emacs-snapshot
Standards-Version: 3.8.3
Vcs-Browser: http://git.debian.org/?p=collab-maint/edb.git
Vcs-Git: git://git.debian.org/git/collab-maint/edb.git
Homepage: http://www.gnuvola.org/software/edb

Package: edb
Architecture: all
Depends: ${misc:Depends}, emacs23 | emacs22 | emacs-snapshot | emacs, make, dpkg (>= 1.15.4) | install-info
Description: database program for GNU Emacs
 EDB is a database program for GNU Emacs. It permits you to
 manipulate structured (or not-so-structured) data within
 Emacs and provides many of the usual database features.
