#!/usr/bin/make -f
# Made with the aid of dh_make, by Craig Small
# Sample debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.
# Some lines taken from debmake, by Christoph Lameter.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PACKAGE = edb

include debian/debian-vars.mk
include /usr/share/dpatch/dpatch.make

build: build-stamp
build-stamp: patch
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE) info

	touch build-stamp

clean: unpatch
	dh_testdir
	dh_testroot
	rm -rf build-stamp $(PKGDIR)

	$(MAKE) cleandoc

	dh_clean

# Build architecture-independent files here.
binary-indep: build
#	dh_testversion
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the files into debian/tmp

	install -m 755 -d $(PKGDIR)/usr/share/emacs/site-lisp/edb \
			  $(PKGDIR)/usr/share/info
	install -m 644 *.el debian/edb-fixes-1.21.el $(PKGDIR)/usr/share/emacs/site-lisp/edb
	install -m 644 edb.info* $(PKGDIR)/usr/share/info

	dh_installdocs
#	dh_installexamples
#	dh_installmenu
	dh_installemacsen
#	dh_installinit
#	dh_installcron
#	dh_installmanpages
#	dh_undocumented
	dh_installchangelogs
#	dh_strip
	dh_compress
	dh_fixperms
#	dh_suidregister
	dh_installdeb
#	dh_shlibdeps
	dh_gencontrol
#	dh_makeshlibs
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build
# We have nothing to do by default.

source diff:
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
