#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PACKAGE = edb

include debian/debian-vars.mk
include /usr/share/dpatch/dpatch.make

config.status: configure
	# target: config.status
	dh_testdir
	./configure --prefix=$$(pwd)/debian/$(PACKAGE)/usr

build-stamp: config.status patch
	# target: build-stamp
	dh_testdir

	$(MAKE)

	touch build-stamp

build: build-stamp

clean: unpatch
	# target: clean
	dh_testdir
	dh_testroot
	rm -rf build-stamp $(PKGDIR)

	[ ! -f GNUMakefile ] || $(MAKE) clean

	find . -name GNUmakefile \
		-o -name "*[#~]*" \
		| xargs -r rm

	rm -f lisp/*.elc

	rm -f config.log config.status \
		examples/null examples/passwd \
		tests/ebatch

	dh_clean

install: build
	# target: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	$(MAKE) install

# Build architecture-independent files here.
binary-indep: build
	# target: binary-indep

#	dh_testversion
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	install -m 755 -d $(PKGDIR)/usr/share/emacs/site-lisp/edb \
			  $(PKGDIR)/usr/share/info
	install -m 644 *.el debian/edb-fixes-1.21.el $(PKGDIR)/usr/share/emacs/site-lisp/edb
	install -m 644 edb.info* $(PKGDIR)/usr/share/info

	dh_installdocs
#	dh_installexamples
#	dh_installmenu
	dh_installemacsen
#	dh_installinit
#	dh_installcron
#	dh_installmanpages
#	dh_undocumented
	dh_installchangelogs
#	dh_strip
	dh_compress
	dh_fixperms
#	dh_suidregister
	dh_installdeb
#	dh_shlibdeps
	dh_gencontrol
#	dh_makeshlibs
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build
	# We have nothing to do.

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
